.BaseHud
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.Clip
{
    clip: rect(44px, 300px, 110px,0px);
    horizontal-align: right;
    width: 300px;
    height: 110px;
}

.TimerBox
{
    width: 261px;
    height: 80px;
    background-image: url("file://{resources}/images/custom_game/custom_timer_bg.png");
    background-size: 100%;
    horizontal-align: right;
    margin-top: -78px;
    margin-right: 15px;
    z-index: -10;
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

.TimerBox Label
{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;

}

#TimerMsg
{
    margin-top: 34px;
    margin-left: 20px;
    text-align: center;
    width: 130px;
}

#TimerRemaining
{
    margin-top: 34px;
    margin-left: 144px;
    text-align: center;
    width: 100px;
}

.FadeIn
{
    transform: translateY(100px);
}
